<%
fillings = ["Carnitas", "Al Pastor", "Steak", "Fish", "Veggie"]
%>


<h1> I love tacos!</h1>
<ul>
<li>Carnitas</li>
<li>Al Pastor</li>
</ul>
<p> Currently, there are <%= fillings.count %> kinds of tacos.</p>