<%
    suits = ["hearts", "clubs", "spades", "diamonds"]
%>

<%
    values = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]

    deck = []
    for value in values
        for suit in suits
            deck << "#{value}_of_#{suit}"
        end
    end
    shuffle_deck = deck.shuffle
    hand = shuffle_deck[0,5]
%>

<h1> Here are the cards</h1>
<% for card in hand%>
<img src="/images/cards/<%= card %>.svg">
<% end %>